.aboutTitle {
    text-shadow: 2px 2px 2px black;
    margin-top: 30px;
    text-align: center;
}

.bulbImg {
    margin: 20px auto 20px auto;
    /* padding-top: 10px; */
    display: block;
    width: 75%;
    border-radius: 20px;
}

.showParagraph {
    padding: 90px 20px 0 20px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
}

#section2 {
    margin-top: 100px;
}
.headshot {
    margin: 60px auto 20px auto;
    display: block;
    width: 75%;
    border-radius: 20px;
}

.trinParagraph {
    padding: 30px 20px 0 20px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
}

#section3 {
    margin-top: 100px;
    text-align: center;
}

.funFacts {
    list-style: none;
    /* text-align: left; */
    text-align: justify;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    padding-top: 30px;
}

#firstItem {
    color: #eca0ff;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}
#secondItem {
    color: #aab2ff;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}
#thirdItem {
    color: #84ffc9;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}