.homePg {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #FFF;
    /* background: linear-gradient(180deg, black, rgb(72, 0, 105), #7104a3, rgb(140, 49, 175) ); */
    background: linear-gradient(180deg, #eca0ff, #aab2ff,  #84ffc9 );
    font-family: 'Major Mono Display', monospace;
}

.mainContent {
    margin-top: 60px;
}

h2 {
    padding: 20px;
}

#episodes {
    text-shadow: 2px 2px 2px black;
}

#backToTop {
    position: fixed; /* Fixed/sticky position */
    bottom: 15px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
}

#backToTop img {
    width: 25px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 2px black;
}