.navbar-brand {
    width: 100%;
    color: white;
}

#navbarTitle {
    font-size: 40px;
    font-family: 'Major Mono Display', monospace;
    text-shadow: 2px 2px 2px black;
}

@media screen and (max-width: 550px) {
    #navbarTitle {
        font-size: 30px;
    }
}

@media screen and (max-width: 550px) {
    #navbarTitle {
        font-size: 18px;
    }
}

.navbar-nav {
    font-family: 'Major Mono Display', monospace;
    font-size: 22px;
    font-weight: bold;
    /* text-shadow: 1px 1px 1px rgb(75, 75, 75); */
}

#navbarLogo {
    width: 50px;
}
