.footer {
    color: rgb(255, 255, 255);
    /* text-shadow: 1px 1px 1px grey; */

    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
    font-family: 'Quicksand', sans-serif;
}

#MTemail {
    font-size: 12px;
}

#MTemail:hover {
    color: black;
}

a:link {
    color: white;
}

.instagramLink:hover {
    text-decoration: none;
}

.socials img {
    width: 20px;
}

hr {
    padding: 10px;
    width: 80%;
}